@import "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.clearBlock {
  clear: both;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  min-height: 100%;
}
.inside {
  max-width: 1170px;
  margin: 0 auto;
}
header {
  .inside {
    //max-width: 1176px;
    //margin: 0 auto;
    nav {
      background: @backgroundMain;
      border: none;
      width: 100%;
      height: 109px;
      margin-bottom: 0;
      padding-right: 0;
      padding-top: 20px;
      color: @navbarColorHover;
      font: 18px @mainFont;
      .container-fluid {
        padding: 0;
        background: @backgroundMain;
        .navbar-nav>li>a {
          z-index: 100;
        }
      }
      .respond-to(tablets; {
      height: 150px;
      });
      a.navbar-brand {
        color: @navbarColorHover;
        font: 30px ProximaNovaExtraBold, sans-serif;
        margin-left: 0;
        //padding-left: 4px;
      }
      .navbar-nav>li>a {
        color: @navbarColor;
        font: 14px @mainFont;
        padding-top: 26px;
        padding-left: 17px;
        &:hover {
          color: @navbarColorHover;
        }
      }
      .navbar-right {
        padding-top: 25px;
        &>i:first-child {
          padding-left: 15px;
          padding-right: 6px;
        }
        &>i:last-child {
          padding-left: 35px;
          padding-right: 6px;
        }
        .respond-to(phones; {
          visibility: hidden;
        })
      }
    }
  }
  .add {
    width: 100%;
    height: 730px;
    background:
      #0d68ae
      url("../img/background/bg_2.png") center bottom no-repeat;
    .respond-to (xwide-desktops; {
      background-size: cover;
    });
    .respond-to(phones; {
      background: url("../img/background/bg_1.png") center bottom no-repeat;
    });
    .respond-to(wide-phones; {
      background: url("../img/background/bg_1.png") center bottom no-repeat;
    });
    .respond-to(tablets; {
      background: url("../img/background/bg_1.png") center bottom no-repeat;
    });
    .respond-to(small-desktops; {
      height: 530px;
      background-size: cover;
    });
    .inside {
      //max-width: 1176px;
      height: 730px;
      margin: 0 auto;
      position: relative;
      .jumbotron {
        background: transparent;
        width: 42%;
        padding: 0;
        margin-top: 174px;
        color: #ffffff;
        .respond-to(phones; {
          margin: 130px auto;
          width: 90%;
          text-align: center;
        });
        .respond-to(wide-phones; {
          margin: 200px auto;
          width: 90%;
          text-align: center;
        });
        .respond-to(tablets; {
          margin: 174px auto;
          width: 90%;
          text-align: center;
        });
        .respond-to(small-desktops; {
          margin-top: 50px;
          margin-left: 25px;
        });
        h2 {
          margin-bottom: 0;
        }
        h3 {
          font-family: RalewayLight, sans-serif;
        }
        p {
          font-size: 14px;
          color: @addColor;
        }
        .btn {
          .button(@backgroundMain, @addColor);
          margin-right: 35px;
        }
      }
    }
  }
  width: 100%;
  height: 839px;
}
main {
  width: 100%;
  .features {
    width: 100%;
    height: 983px;
    background: @backgroundMain;
    .inside {
      //max-width: 1176px;
      height: 983px;
      margin: 0 auto;
      .heading {
        text-align: center;
        margin-top: 77px;
        h2 {
          color: @headlineColor;
        }
        p {
          margin-top: 26px;
        }
      }
      //.featuresTab>ul>li {
      //  margin-top: 100px;
      //  display: flex;
      //  flex-direction: column;
      //}
      a {
        float: left;
        width: 325px;
        background: @backgroundMain;
        color: @linkColor;
        font: 20px @mainFont;
        border-radius: 0;
        text-align: right;
        line-height: 48px;
        border-right: 1px solid @linkColor;
        margin-left: 11px;
        padding-right: 62px;
        padding-bottom: 33px;
        padding-top: 33px;
        &:hover, &:focus {
          margin-left: 16px;
          padding-right: 57px;
          padding-left: 10px;
          background: @backgroundMain;
          color: @hoverColor;
          border-right: 11px solid @hoverColor;
        }
        i {
          float: left;
          font-size: 48px;
        }
      }
      ul {
        float: left;
        margin-top: 30px;
      }
      .nav-stacked {
        width: 30%;
        &>li+li {
          margin-top: 0;
        }
        //border-right: 1px solid @linkColor;
      }
      .tab-content {
        width: 100%;
        padding-left: 480px;
        i {
          font-size: 220px;
          color: @hoverColor;
          margin-left: 205px;
          margin-top: 93px;
        }
        h4 {
          font: 24px @headlineFont;
          color: @headlineColor;
          margin-top: 53px;
        }
        p {
          margin-top: 27px;
          margin-left: 2px;
        }
      }
    }
  }
  .perfectScreens {
    width: 100%;
    height: 820px;
    background: @backgroundStripe;
    .description, .description2 {
      padding-left: 0;
      h2 {
        margin-top: 155px;
        margin-bottom: 20px;
        color: @headlineColorSecond;
      }
      .line {
        width: 104px;
        &::after {
          display: block;
          position: absolute;
          content: "";
          height: 2px;
          width: 104px;
          background-color: #949c9c;
        }
      }
      article {
        margin-top: 59px;
        h3 {
          padding-right: 85px;
          color: @mainTextColorDark;
        }
        p {
          margin-top: 39px;
          margin-bottom: 0;
          padding-right: 125px;
          color: @mainTextColorDark;
        }
      }
      .btn {
        .button (@headlineColor, @hoverColor);
        margin-top: 52px;
      }
    }
    .description2 {
      padding-left: 15px;
    }
    img {
      margin-top: 61px;
      margin-left: 60px;
    }
    .twoPhones {
      margin-top: 62px;
      margin-left: 3px;
    }
  }
  .gallery {
    width: 100%;
    height: 1140px;
    background: @backgroundMain;
    article {
      text-align: center;
      margin-top: 74px;
      h2 {
        color: @headlineColor;
      }
      p {
        margin-top: 19px;
      }
    }
    .carousel {
      margin-top: 28px;
      height: 755px;
      .item {
        height: 755px;
        .carousel-caption {
          right: 38%;
          left: 38%;
          padding-bottom: 0;
          p {
            margin-bottom: 0;
            text-shadow: none;
            color: @mainTextColorDark;
            font-size: 14px;
          }
        }
      }
      .carousel-control {
        color: @linkColor;
        background: none;
        text-shadow: none;
      }
    }
  }
  .comments {
    width: 100%;
    height: 560px;
    background: @backgroundMain;
    h2 {
      margin-top: 96px;
      text-align: center;
      color: @headlineColor;
    }
    .carousel {
      height: 300px;
      margin-top: 28px;
      .carousel-indicators {
        bottom: 13px;
        li {
          background-color: @mainTextColorDark;
          border-color: @mainTextColorDark;
          &:active, &:hover, &:focus, &.active {
            background-color: @hoverColor;
            border-color: @hoverColor;
          }
        }
      }
      .item {
        height: 300px;
        .carousel-caption {
          text-shadow: none;
          right: 0;
          left: 0;
          .quoteText, & {
            font: 24px DroidSerifItalic, serif;
            color: @mainTextColorDark;
            margin-bottom: 22px;
          }
          .userName {
            font: 24px @mainFont;
            color: @hoverColor;
            margin-top: 22px;
            margin-bottom: 28px;
          }
        }
      }
    }
  }
  .subscribe {
    width: 100%;
    height: 361px;
    background: #f3f5f5;
    text-align: center;
    h2 {
      margin-top: 86px;
      color: @mainTextColorDark;
    }
    .input-group {
      margin-top: 41px;
      input {
        height: 60px;
        font: 14px @mainFont;
        color: @mainTextColorDark;
        border: 2px solid #bbc3c2;
        border-radius: 50px 0 0 50px;
        z-index: 1;
        &:focus {
          box-shadow: none;
        }
      }
      .input-group-btn:last-child>.btn {
        width: 170px;
        height: 60px;
        margin-left: -30px;
        background-color: @hoverColor;
        border: 2px solid @hoverColor;
        font: 20px ProximaNovaBold, sans-serif;
        line-height: 24px;
        color: @backgroundMain;
        text-transform: uppercase;
        border-radius: 50px 50px 50px 50px;
        z-index: 99;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
footer {
  width: 100%;
  height: 307px;
  background: #2d312f;
  color: #5d6461;
  text-align: center;
  h6 {
    font: 24px @mainFont;
    color: @mainTextColorDark;
    line-height: 24px;
    margin-top: 73px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  nav>ul>li>a {
    color: #5d6461;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
  .socials a {
    font: 60px Socialico, sans-serif;
    margin-left: 4px;
    margin-right: 4px;
    color: #808784;
    &:hover {
      color: @mainTextColorDark;
    }
  }
  .links a {
    font: 14px @mainFont;
    line-height: 24px;
    color: @mainTextColorDark;
    margin-left: 8px;
    margin-right: 8px;
    &:hover {
      color: #808784;
    }
  }
  .socials ul {
    margin-top: 27px;
  }
  .links ul {
    margin-top: 57px;
  }
}