@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/raleway/raleway_regular.ttf");
}
@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/raleway/raleway_light.ttf");
}
@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/raleway/raleway_bold.ttf");
}
@font-face {
  font-family: "Socialico";
  src: url("../fonts/socialico/socialico.ttf");
}
@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/proxima_nova/proxima_nova_regular.otf");
}
@font-face {
  font-family: "ProximaNovaExtraBold";
  src: url("../fonts/proxima_nova/proxima_nova_extrabold.otf");
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/proxima_nova/proxima_nova_bold.otf");
}
@font-face {
  font-family: "DroidSerifItalic";
  src: url("../fonts/droid_serif/droid_serif_italic.ttf");
}
h2 {
  font: 36px RalewayBold, sans-serif;
}
h3 {
  margin-top: 2px;
  font: 36px RalewayRegular, sans-serif;
}
p {
  color: #b0b8b8;
  font: 16px RalewayRegular, sans-serif;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 53px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.clearBlock {
  clear: both;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  min-height: 100%;
}
.inside {
  max-width: 1170px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 839px;
}
header .inside nav {
  background: #ffffff;
  border: none;
  width: 100%;
  height: 109px;
  margin-bottom: 0;
  padding-right: 0;
  padding-top: 20px;
  color: #3c3d42;
  font: 18px RalewayRegular, sans-serif;
}
header .inside nav .container-fluid {
  padding: 0;
  background: #ffffff;
}
header .inside nav .container-fluid .navbar-nav > li > a {
  z-index: 100;
}
@media all and (min-width: 768px) and (max-width: 952px) {
  header .inside nav {
    height: 150px;
  }
}
header .inside nav a.navbar-brand {
  color: #3c3d42;
  font: 30px ProximaNovaExtraBold, sans-serif;
  margin-left: 0;
}
header .inside nav .navbar-nav > li > a {
  color: #747a7a;
  font: 14px RalewayRegular, sans-serif;
  padding-top: 26px;
  padding-left: 17px;
}
header .inside nav .navbar-nav > li > a:hover {
  color: #3c3d42;
}
header .inside nav .navbar-right {
  padding-top: 25px;
}
header .inside nav .navbar-right > i:first-child {
  padding-left: 15px;
  padding-right: 6px;
}
header .inside nav .navbar-right > i:last-child {
  padding-left: 35px;
  padding-right: 6px;
}
@media all and (max-width: 479px) {
  header .inside nav .navbar-right {
    visibility: hidden;
  }
}
header .add {
  width: 100%;
  height: 730px;
  background: #0d68ae url("../img/background/bg_2.png") center bottom no-repeat;
}
@media all and (min-width: 2571px) {
  header .add {
    background-size: cover;
  }
}
@media all and (max-width: 479px) {
  header .add {
    background: url("../img/background/bg_1.png") center bottom no-repeat;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  header .add {
    background: url("../img/background/bg_1.png") center bottom no-repeat;
  }
}
@media all and (min-width: 768px) and (max-width: 952px) {
  header .add {
    background: url("../img/background/bg_1.png") center bottom no-repeat;
  }
}
@media all and (min-width: 953px) and (max-width: 1199px) {
  header .add {
    height: 530px;
    background-size: cover;
  }
}
header .add .inside {
  height: 730px;
  margin: 0 auto;
  position: relative;
}
header .add .inside .jumbotron {
  background: transparent;
  width: 42%;
  padding: 0;
  margin-top: 174px;
  color: #ffffff;
}
@media all and (max-width: 479px) {
  header .add .inside .jumbotron {
    margin: 130px auto;
    width: 90%;
    text-align: center;
  }
}
@media all and (min-width: 480px) and (max-width: 767px) {
  header .add .inside .jumbotron {
    margin: 200px auto;
    width: 90%;
    text-align: center;
  }
}
@media all and (min-width: 768px) and (max-width: 952px) {
  header .add .inside .jumbotron {
    margin: 174px auto;
    width: 90%;
    text-align: center;
  }
}
@media all and (min-width: 953px) and (max-width: 1199px) {
  header .add .inside .jumbotron {
    margin-top: 50px;
    margin-left: 25px;
  }
}
header .add .inside .jumbotron h2 {
  margin-bottom: 0;
}
header .add .inside .jumbotron h3 {
  font-family: RalewayLight, sans-serif;
}
header .add .inside .jumbotron p {
  font-size: 14px;
  color: #9dc8d1;
}
header .add .inside .jumbotron .btn {
  padding-top: 14px;
  width: 240px;
  height: 60px;
  border-radius: 50px 50px 50px 50px;
  border: 3px solid;
  background: transparent;
  font: 21px RalewayBold, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 35px;
}
header .add .inside .jumbotron .btn:hover {
  color: #9dc8d1;
  background: transparent;
  border-color: #9dc8d1;
}
main {
  width: 100%;
}
main .features {
  width: 100%;
  height: 983px;
  background: #ffffff;
}
main .features .inside {
  height: 983px;
  margin: 0 auto;
}
main .features .inside .heading {
  text-align: center;
  margin-top: 77px;
}
main .features .inside .heading h2 {
  color: #636c6c;
}
main .features .inside .heading p {
  margin-top: 26px;
}
main .features .inside a {
  float: left;
  width: 325px;
  background: #ffffff;
  color: #9fa9a9;
  font: 20px RalewayRegular, sans-serif;
  border-radius: 0;
  text-align: right;
  line-height: 48px;
  border-right: 1px solid #9fa9a9;
  margin-left: 11px;
  padding-right: 62px;
  padding-bottom: 33px;
  padding-top: 33px;
}
main .features .inside a:hover,
main .features .inside a:focus {
  margin-left: 16px;
  padding-right: 57px;
  padding-left: 10px;
  background: #ffffff;
  color: #5dca88;
  border-right: 11px solid #5dca88;
}
main .features .inside a i {
  float: left;
  font-size: 48px;
}
main .features .inside ul {
  float: left;
  margin-top: 30px;
}
main .features .inside .nav-stacked {
  width: 30%;
}
main .features .inside .nav-stacked > li + li {
  margin-top: 0;
}
main .features .inside .tab-content {
  width: 100%;
  padding-left: 480px;
}
main .features .inside .tab-content i {
  font-size: 220px;
  color: #5dca88;
  margin-left: 205px;
  margin-top: 93px;
}
main .features .inside .tab-content h4 {
  font: 24px RalewayBold, sans-serif;
  color: #636c6c;
  margin-top: 53px;
}
main .features .inside .tab-content p {
  margin-top: 27px;
  margin-left: 2px;
}
main .perfectScreens {
  width: 100%;
  height: 820px;
  background: #f2f9f9;
}
main .perfectScreens .description,
main .perfectScreens .description2 {
  padding-left: 0;
}
main .perfectScreens .description h2,
main .perfectScreens .description2 h2 {
  margin-top: 155px;
  margin-bottom: 20px;
  color: rgba(93, 202, 136, 0.66);
}
main .perfectScreens .description .line,
main .perfectScreens .description2 .line {
  width: 104px;
}
main .perfectScreens .description .line::after,
main .perfectScreens .description2 .line::after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  width: 104px;
  background-color: #949c9c;
}
main .perfectScreens .description article,
main .perfectScreens .description2 article {
  margin-top: 59px;
}
main .perfectScreens .description article h3,
main .perfectScreens .description2 article h3 {
  padding-right: 85px;
  color: #8c9494;
}
main .perfectScreens .description article p,
main .perfectScreens .description2 article p {
  margin-top: 39px;
  margin-bottom: 0;
  padding-right: 125px;
  color: #8c9494;
}
main .perfectScreens .description .btn,
main .perfectScreens .description2 .btn {
  padding-top: 14px;
  width: 240px;
  height: 60px;
  border-radius: 50px 50px 50px 50px;
  border: 3px solid;
  background: transparent;
  font: 21px RalewayBold, sans-serif;
  color: #636c6c;
  text-transform: uppercase;
  margin-top: 52px;
}
main .perfectScreens .description .btn:hover,
main .perfectScreens .description2 .btn:hover {
  color: #5dca88;
  background: transparent;
  border-color: #5dca88;
}
main .perfectScreens .description2 {
  padding-left: 15px;
}
main .perfectScreens img {
  margin-top: 61px;
  margin-left: 60px;
}
main .perfectScreens .twoPhones {
  margin-top: 62px;
  margin-left: 3px;
}
main .gallery {
  width: 100%;
  height: 1140px;
  background: #ffffff;
}
main .gallery article {
  text-align: center;
  margin-top: 74px;
}
main .gallery article h2 {
  color: #636c6c;
}
main .gallery article p {
  margin-top: 19px;
}
main .gallery .carousel {
  margin-top: 28px;
  height: 755px;
}
main .gallery .carousel .item {
  height: 755px;
}
main .gallery .carousel .item .carousel-caption {
  right: 38%;
  left: 38%;
  padding-bottom: 0;
}
main .gallery .carousel .item .carousel-caption p {
  margin-bottom: 0;
  text-shadow: none;
  color: #8c9494;
  font-size: 14px;
}
main .gallery .carousel .carousel-control {
  color: #9fa9a9;
  background: none;
  text-shadow: none;
}
main .comments {
  width: 100%;
  height: 560px;
  background: #ffffff;
}
main .comments h2 {
  margin-top: 96px;
  text-align: center;
  color: #636c6c;
}
main .comments .carousel {
  height: 300px;
  margin-top: 28px;
}
main .comments .carousel .carousel-indicators {
  bottom: 13px;
}
main .comments .carousel .carousel-indicators li {
  background-color: #8c9494;
  border-color: #8c9494;
}
main .comments .carousel .carousel-indicators li:active,
main .comments .carousel .carousel-indicators li:hover,
main .comments .carousel .carousel-indicators li:focus,
main .comments .carousel .carousel-indicators li.active {
  background-color: #5dca88;
  border-color: #5dca88;
}
main .comments .carousel .item {
  height: 300px;
}
main .comments .carousel .item .carousel-caption {
  text-shadow: none;
  right: 0;
  left: 0;
}
main .comments .carousel .item .carousel-caption .quoteText,
main .comments .carousel .item .carousel-caption {
  font: 24px DroidSerifItalic, serif;
  color: #8c9494;
  margin-bottom: 22px;
}
main .comments .carousel .item .carousel-caption .userName {
  font: 24px RalewayRegular, sans-serif;
  color: #5dca88;
  margin-top: 22px;
  margin-bottom: 28px;
}
main .subscribe {
  width: 100%;
  height: 361px;
  background: #f3f5f5;
  text-align: center;
}
main .subscribe h2 {
  margin-top: 86px;
  color: #8c9494;
}
main .subscribe .input-group {
  margin-top: 41px;
}
main .subscribe .input-group input {
  height: 60px;
  font: 14px RalewayRegular, sans-serif;
  color: #8c9494;
  border: 2px solid #bbc3c2;
  border-radius: 50px 0 0 50px;
  z-index: 1;
}
main .subscribe .input-group input:focus {
  box-shadow: none;
}
main .subscribe .input-group .input-group-btn:last-child > .btn {
  width: 170px;
  height: 60px;
  margin-left: -30px;
  background-color: #5dca88;
  border: 2px solid #5dca88;
  font: 20px ProximaNovaBold, sans-serif;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 50px 50px 50px 50px;
  z-index: 99;
}
main .subscribe .input-group .input-group-btn:last-child > .btn:focus {
  outline: none;
}
footer {
  width: 100%;
  height: 307px;
  background: #2d312f;
  color: #5d6461;
  text-align: center;
}
footer h6 {
  font: 24px RalewayRegular, sans-serif;
  color: #8c9494;
  line-height: 24px;
  margin-top: 73px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer nav > ul > li > a {
  color: #5d6461;
  text-decoration: none;
}
footer nav > ul > li > a:hover,
footer nav > ul > li > a:focus {
  text-decoration: none;
  outline: none;
}
footer .socials a {
  font: 60px Socialico, sans-serif;
  margin-left: 4px;
  margin-right: 4px;
  color: #808784;
}
footer .socials a:hover {
  color: #8c9494;
}
footer .links a {
  font: 14px RalewayRegular, sans-serif;
  line-height: 24px;
  color: #8c9494;
  margin-left: 8px;
  margin-right: 8px;
}
footer .links a:hover {
  color: #808784;
}
footer .socials ul {
  margin-top: 27px;
}
footer .links ul {
  margin-top: 57px;
}
